@page
@using FluentAssertions
@using ProjectWebDev.Pages.Databasestuff.Models
@using ProjectWebDev.Pages.Databasestuff.Repository
@model ProjectWebDev.Pages.Overzichten.AccountScreenUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/navbarcss.css">
    <link rel="stylesheet" href="/css/HomeScreenStyle.css">
    <title>HomeScreen</title>
</head>
<body>

@{ int Rang = 1; }
@{ string sDisplayValue; }
<nav class="navbar navbar-expand-lg navbar-light" id="navbarid">
    <div class="container-fluid">
        <a class="navbar-brand" href="/Overzichten/HomeScreen">Comicollection</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link" id="navbg" href="/Overzichten/UltimateCollection">
                        <text style="color: white">Ultimate Collection</text>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navbg" href="/Overzichten/SupportScreen">
                        <text style="color: white">Support</text>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navbg" href="@Model.HREF3">
                        <text style="color: white">@Model.LINKNAAM3</text>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" id="navactive" href="@Model.HREF4">
                        <text style="color: white">@Model.LINKNAAM4</text>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" id="Container" style="">
    <div class="row" id="Rij" style="height: calc(100vh - 76px)">
        <div class="col-6" style="background-color: @Model.Kleuren.Background">
            <h7 style="margin-left: 10px; margin-right: 10px">Welkom @Model.Gebruikersnaam bij comic-collection, waar al je dromen waar komen.</h7>
        </div>
        <div class="col-6" style="background-color: @Model.Kleuren.Achtergrond; border-left: 2px solid #56A28E;">
            <h2 class="d-flex justify-content-center" style="margin-top: 10px">Account informatie</h2>

            <table class="table table-bordered">

                @foreach (var gebruiker in Model.Gebruikers)
                {
                    <tr>
                        <th>Username: </th>
                        <td>@gebruiker.Gebruikers_naam</td>
                    </tr>
                    <tr>
                        <th>Email: </th>
                        <td>@gebruiker.Email</td>
                    </tr>
                    <tr>
                        <th>Functie: </th>
                        <td>@gebruiker.Functie</td>
                    </tr>
                }
            </table>

            <div class="container" style="margin-bottom: 25px">
                <div class="row">
                    <form method="post" asp-page-handler="UpdateUsern">
                        @if (Model.Warning == 2)
                        {
                            <h3 id="warning" style="color: red">Username already in use</h3>
                        }
                        <h7>Change Username to:</h7><input type="text" placeholder="new Username" name="UsernUpdate"/>
                        <button type="submit" style="background-color: @Model.Kleuren.active; color: white; border-radius: 8px; border: none; margin-left: 10px; width: 175px; height: 30px; margin-top: 10px" name="Username">Change Username</button>
                    </form>
                </div>
                <div class="row">
                    <form method="post" asp-page-handler="UpdateMail">
                        <h7>Change Email to:</h7><input type="text" placeholder="new Email" name="EmailUpd"/>
                        <button type="submit" style="background-color: @Model.Kleuren.active; color: white; border-radius: 8px; border: none; margin-left: 10px; width: 175px; height: 30px; margin-top: 10px" name="Username">Change Email</button>
                    </form>
                </div>
                <div class="row">
                    <form method="post" asp-page-handler="UpdatePassw">
                        <div class="row">
                            @if (Model.Warning == 1)
                            {
                                <h3 id="warning" style="color: red">Current password is incorrect</h3>
                            }
                            <h7>Current Password:</h7><input type="password" placeholder="current Password" name="PasswordCurrent" style="width: 250px"/>
                        </div>
                        <h7>Change Password to:</h7><input type="password" placeholder="new Password" name="PasswordUpd"/>
                        <button type="submit" style="background-color: @Model.Kleuren.active; color: white; border-radius: 8px; border: none; margin-left: 10px; width: 175px; height: 30px; margin-top: 10px" name="Username">Change Password</button>
                    </form>
                </div>
                <div>
                    <form method="post" asp-page-handler="NSFW">
                        <input class="form-check-input" name="Nsfw" type="checkbox" value="true" id="flexCheckDefault" checked="@Model.NSFW">
                        <label class="form-check-label" for="flexCheckDefault">
                            NSFW
                        </label>
                        <button type="submit" style="background-color: @Model.Kleuren.active; color: white; border-radius: 8px; border: none; margin-left: 10px; width: 175px; height: 30px; margin-top: 10px">Pas aan</button>
                    </form>
                </div>
            </div>

            <form method="post" asp-page-handler="Logout">
                <button type="submit" style="background-color: @Model.Kleuren.active; color: white; border-radius: 8px; border: none; margin-left: 10px; width: 100px; height: 30px" name="Logout">Logout</button>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>