@page
@using FluentAssertions
@using ProjectWebDev.Pages.Databasestuff.Models
@using ProjectWebDev.Pages.Databasestuff.Repository
@model ProjectWebDev.Pages.Overzichten.HomeScreen

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/navbarcss.css">
    <link rel="stylesheet" href="/css/HomeScreenStyle.css">
    <title>HomeScreen</title>
</head>
<body>

@{ int Rang = 1;}
@{ string sDisplayValue;}
<nav class="navbar navbar-expand-lg navbar-light" id="navbarid">
    <div class="container-fluid">
        <a class="navbar-brand" href="/Overzichten/HomeScreen">Comicollection</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" id="navbg" href="/Overzichten/UltimateCollectionUser">
                        <text style="color: white">Ultimate Collection</text>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navbg" href="/Overzichten/SupportScreen">
                        <text style="color: white">Support</text>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navbg" href="@Model.HREF3">
                        <text style="color: white">@Model.LINKNAAM3</text>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navbg" href="@Model.HREF4">
                        <text style="color: white">@Model.LINKNAAM4</text>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" id="Container" style="">
    <div class="row" id="Rij" style="height: calc(100vh - 76px)">
        <div class="col-6" style="background-color: @Model.Kleuren.Background">
            <h7 style="margin-left: 10px; margin-right: 10px">Welkom bij comicollection, waar al je dromen waar komen.</h7>
        </div>
        <div class="col-6" style="background-color: @Model.Kleuren.Achtergrond; border-left: 2px solid #56A28E;">
            <h2 class="d-flex justify-content-center" style="margin-top: 10px">De hoogst beoordeelde boeken</h2>
            <table style="background-color: white; margin-top: 25px" id="Tbody" class="table table-bordered">
                <tbody>
                @foreach (var top10 in Model.Top10)
                {

                    <tr id="Trow">
                        <td>@Rang</td>
                        @{sDisplayValue = @top10.Ratings.ToString("0.00");}
                        <td> @sDisplayValue </td>
                        <td>@top10.Titel</td>
                    </tr>
                    
                    {Rang = Rang + 1;}
                    
                    
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>